# Preprocessing the Wildfires File

In [4]:
import sqlite3
import pandas as pd
import numpy as np
import pickle

In [5]:
cnx = sqlite3.connect('../us_wildfire_dataset/FPA_FOD_20170508.sqlite')
df = pd.read_sql_query("SELECT DISCOVERY_DATE, LATITUDE, LONGITUDE, FIRE_SIZE, STATE FROM fires", cnx)

In [6]:
df.shape

(1880465, 5)

In [7]:
# filter california fires
df = df[df["STATE"] == "CA"]

In [8]:
df

         DISCOVERY_DATE   LATITUDE   LONGITUDE  FIRE_SIZE STATE
0             2453403.5  40.036944 -121.005833       0.10    CA
1             2453137.5  38.933056 -120.404444       0.25    CA
2             2453156.5  38.984167 -120.735556       0.10    CA
3             2453184.5  38.559167 -119.913333       0.10    CA
4             2453184.5  38.559167 -119.933056       0.10    CA
...                 ...        ...         ...        ...   ...
1880460       2457291.5  40.481637 -122.389375       0.01    CA
1880461       2457300.5  37.617619 -120.938570       0.20    CA
1880462       2457144.5  37.617619 -120.938570       0.10    CA
1880463       2457309.5  37.672235 -120.898356       2.00    CA
1880464       2457095.5  34.263217 -116.830950       0.10    CA

[189550 rows x 5 columns]

In [9]:
with open("../us_wildfire_dataset/ca_fires_raw.pkl", "wb") as f:
    pickle.dump(df, f, protocol=pickle.HIGHEST_PROTOCOL)