# Preprocessing the Wildfires File

In [11]:
import sqlite3
import pandas as pd
import numpy as np
import pickle

In [12]:
cnx = sqlite3.connect('../us_wildfire_dataset/FPA_FOD_20170508.sqlite')
df = pd.read_sql_query("SELECT DISCOVERY_DATE, LATITUDE, LONGITUDE, FIRE_SIZE, STATE FROM fires", cnx)

In [13]:
df.shape

(1880465, 5)

In [43]:
# filter california fires
df = df[df["STATE"] == "CA"]

# convert the date to something more intelligible
try:
    df['Date'] = pd.to_datetime(df['DISCOVERY_DATE'], unit='D', origin='julian')
    df = df.drop("DISCOVERY_DATE", 1)
except KeyError:
    print("You silly chook; you've re-run this cell!")

You silly chook; you've re-run this cell!

In [44]:
df

          LATITUDE   LONGITUDE  FIRE_SIZE STATE       Date
0        40.036944 -121.005833       0.10    CA 2005-02-02
1        38.933056 -120.404444       0.25    CA 2004-05-12
2        38.984167 -120.735556       0.10    CA 2004-05-31
3        38.559167 -119.913333       0.10    CA 2004-06-28
4        38.559167 -119.933056       0.10    CA 2004-06-28
5        38.635278 -120.103611       0.10    CA 2004-06-30
6        38.688333 -120.153333       0.10    CA 2004-07-01
7        40.968056 -122.433889       0.80    CA 2005-03-08
8        41.233611 -122.283333       1.00    CA 2005-03-15
9        38.548333 -120.149167       0.10    CA 2004-07-01
10       38.691667 -120.159722       0.10    CA 2004-07-02
11       38.527500 -120.106111       0.10    CA 2004-07-02
12       38.786667 -120.193333       0.10    CA 2004-09-03
13       38.433333 -120.510000       6.00    CA 2004-09-28
14       38.675833 -120.279722       0.20    CA 2004-10-03
15       38.564167 -120.542222       0.10    CA 2004-10-03
16       38.523333 -120.211667   16823.00    CA 2004-10-06
17       38.780000 -120.260000    7700.00    CA 2004-10-13
18       38.945000 -120.411667       0.10    CA 2004-11-20
76       41.037222 -123.533056       0.10    CA 2005-06-27
87       34.174444 -117.765000       0.10    CA 2005-04-24
88       34.153889 -117.841111       0.50    CA 2005-07-03
90       38.983889 -120.802500       0.10    CA 2005-06-25
95       38.700278 -119.840556       0.10    CA 2005-05-06
96       38.453611 -119.458611       0.01    CA 2005-07-08
105      33.666667 -117.376389       0.10    CA 2005-04-27
106      38.353611 -119.378056       0.10    CA 2005-07-18
109      33.718889 -117.433611      10.00    CA 2005-06-19
110      37.044167 -119.343889       0.10    CA 2005-05-27
132      38.839722 -119.886389       0.50    CA 2005-06-17
...            ...         ...        ...   ...        ...
1880435  38.159780 -122.451750       0.01    CA 2015-06-28
1880436  39.143821 -121.036533       0.01    CA 2015-03-21
1880437  41.224483 -123.763317       0.02    CA 2015-05-11
1880438  39.005712 -121.260759       0.25    CA 2015-09-26
1880439  34.933333 -118.883333       0.11    CA 2015-01-27
1880440  34.716666 -118.800000       0.11    CA 2015-07-04
1880441  34.450000 -118.583333      11.00    CA 2015-12-07
1880442  37.090126 -122.074684       1.00    CA 2015-03-28
1880443  40.297000 -120.528000       0.16    CA 2015-09-27
1880444  37.701111 -122.021111       1.00    CA 2015-10-30
1880445  37.361417 -118.465150       0.10    CA 2015-02-22
1880446  34.244444 -116.658889       0.50    CA 2015-07-25
1880447  32.576754 -116.627539       0.10    CA 2015-01-28
1880448  40.443000 -120.664433       0.05    CA 2015-06-26
1880449  34.666666 -119.333333       0.50    CA 2015-08-27
1880450  38.041150 -121.985283       0.10    CA 2015-06-27
1880451  38.644183 -120.863673       1.00    CA 2015-06-06
1880452  34.163117 -118.693303       0.12    CA 2015-04-14
1880453  34.278180 -118.621180       0.12    CA 2015-07-07
1880454  38.048577 -120.313090       2.00    CA 2015-09-12
1880455  37.936253 -120.613743       5.30    CA 2015-06-28
1880456  40.019907 -122.391398       2.22    CA 2015-06-14
1880457  40.588583 -123.069617       1.00    CA 2015-09-30
1880458  40.244833 -123.544167       4.00    CA 2015-08-01
1880459  38.415608 -122.660044       0.50    CA 2015-05-28
1880460  40.481637 -122.389375       0.01    CA 2015-09-26
1880461  37.617619 -120.938570       0.20    CA 2015-10-05
1880462  37.617619 -120.938570       0.10    CA 2015-05-02
1880463  37.672235 -120.898356       2.00    CA 2015-10-14
1880464  34.263217 -116.830950       0.10    CA 2015-03-14

[189550 rows x 5 columns]

In [45]:
# note: california exists between 32 degrees North and 42 degrees north
# and 126 degrees west and 114 degrees west

# given a range of latitudes and longitudes, a fire database dataframe, and a desired resolution, this function
# will linearly partition the geodata into smaller grids
def extract_localized_wildfires(minLat, maxLat, minLong, maxLong, df, lat_resolution=None, long_resolution=None, resolution=None):
    import numpy as np
    
    assert (lat_resolution != None and long_resolution != None) or resolution != None
    if resolution != None:
        long_resolution = resolution
        lat_resolution = resolution

    longitude_range = np.linspace(maxLong, minLong, long_resolution + 1)
    latitude_range = np.linspace(minLat, maxLat, lat_resolution + 1)

    datapoints = {}
    for row in range(resolution):
        for col in range(resolution):
            rel = df[df["LATITUDE"] >= latitude_range[row]]
            rel = rel[rel["LATITUDE"] < latitude_range[row + 1]]
            rel = rel[rel["LONGITUDE"] <= longitude_range[col]]
            rel = rel[rel["LONGITUDE"] > longitude_range[col + 1]]
            datapoints[(row, col)] = rel

    return datapoints

# the below code tests this function on a toy example of california just northeast of San Bernardino
print(extract_localized_wildfires(34, 36, -118, -116, df, resolution=15)[(0, 2)])

          LATITUDE   LONGITUDE  FIRE_SIZE STATE       Date
217048   34.083300 -116.350800      807.0    CA 1998-06-23
217672   34.083300 -116.363300        0.1    CA 1999-07-10
217716   34.083469 -116.309469        0.1    CA 1999-07-28
243038   34.000010 -116.267540        0.3    CA 1992-05-05
243039   34.066710 -116.317540        0.3    CA 1992-05-05
243040   34.005600 -116.343740        0.5    CA 1992-05-05
243064   34.114510 -116.398350        8.0    CA 1994-06-09
243066   34.066440 -116.396900        0.1    CA 1994-06-11
243076   34.116710 -116.300840        1.5    CA 1995-06-07
243083   34.058410 -116.304740     5521.0    CA 1995-07-31
243094   34.025010 -116.325850        0.4    CA 1996-08-23
243104   34.071710 -116.392740        0.1    CA 1998-07-24
243116   34.063610 -116.350540        0.2    CA 1999-05-27
243117   34.002510 -116.295840    14000.0    CA 1999-05-27
243118   34.002510 -116.295840        5.0    CA 1999-05-27
314559   34.097981 -116.326811        2.0    CA 2001-07-15
315588   34.073600 -116.388900        0.1    CA 2004-06-26
315606   34.122800 -116.370600        0.5    CA 2004-07-05
315792   34.113514 -116.329553        0.1    CA 2005-04-16
316165   34.114425 -116.347775        0.1    CA 2005-09-19
316582   34.110797 -116.320972        0.1    CA 2006-08-22
316614   34.093117 -116.302908        3.0    CA 2006-09-09
317127   34.095567 -116.328769        1.0    CA 2007-05-26
355193   34.050010 -116.334140        0.1    CA 2000-08-24
355198   34.057210 -116.268040        0.2    CA 2001-07-07
355210   34.023910 -116.313650        0.2    CA 2003-09-03
355233   34.072800 -116.348600      534.0    CA 2006-07-20
355234   34.072500 -116.325000      993.0    CA 2006-07-22
355240   34.030600 -116.350000        0.1    CA 2008-06-14
355242   34.060903 -116.362900        0.3    CA 2008-09-29
...            ...         ...        ...   ...        ...
1127292  34.083056 -116.396111        0.1    CA 1994-03-13
1127454  34.128056 -116.325000        3.0    CA 1995-05-20
1127546  34.128056 -116.308056        0.1    CA 1995-07-17
1127616  34.128056 -116.308056        0.1    CA 1995-10-02
1127665  34.113056 -116.326111        0.1    CA 1995-10-22
1127980  34.128056 -116.308056        0.1    CA 1997-06-23
1127987  34.113056 -116.343056        0.1    CA 1997-07-03
1128093  34.011111 -116.343889        1.0    CA 1998-05-18
1132882  34.011111 -116.326944       37.0    CA 2001-07-28
1139468  34.011111 -116.308889        0.1    CA 1995-06-21
1139555  34.011111 -116.326111        0.1    CA 1995-07-04
1219440  34.062800 -116.354200        0.1    CA 2010-09-29
1470121  34.026700 -116.300600        0.1    CA 2011-09-02
1479458  34.103558 -116.370306        1.0    CA 2011-06-21
1481440  34.101681 -116.370330        0.1    CA 2011-08-09
1572775  34.076400 -116.382200        0.1    CA 2012-01-06
1572776  34.076236 -116.398875        0.1    CA 2012-01-27
1572778  34.009560 -116.305000        0.1    CA 2012-07-01
1572779  34.050000 -116.351700        0.1    CA 2012-08-10
1572780  34.032200 -116.310400        0.1    CA 2012-08-11
1607672  34.112004 -116.328395        1.0    CA 2012-06-02
1607691  34.120549 -116.369903        0.1    CA 2012-06-26
1644196  34.074330 -116.389110        0.1    CA 2013-05-16
1797002  34.071420 -116.391080        0.1    CA 2015-09-13
1797343  34.072800 -116.389400        0.1    CA 2015-05-02
1797458  34.073050 -116.389314        0.1    CA 2015-05-02
1797459  34.072000 -116.388500        0.1    CA 2015-06-04
1797461  34.049640 -116.269640        0.1    CA 2015-10-15
1872824  34.094223 -116.370414        2.0    CA 2009-05-29
1879184  34.087440 -116.321900        1.0    CA 2010-08-25

[72 rows x 5 columns]

In [41]:
with open("../us_wildfire_dataset/ca_fires_raw.pkl", "wb") as f:
    pickle.dump(df, f, protocol=pickle.HIGHEST_PROTOCOL)